{% extends "trabajoFinalApp/base.html" %}

{% block content %}
{% if messages %}
<div class="messages alert alert-success" role="alert">
    {% for message in messages %}
    <div {% if message.tags %} class="{{ message.tags }}" style='text-align: center;' {% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
<div class="card" style="align-items: center; margin: 3cm;">
    <form method="POST">
        {% csrf_token %}
            <label for="">Ingrese su Email</label>
            <div class="mb-3">
                {{form.Mail}}
            </div>
            <label for="">Ingrese su Mensaje</label>
            <div class="mb-3">
                {{form.Mensaje}}
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
{% endblock %}